<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Resturant </title>
    <style>
        img {
            width: 100px;
            border-radius: 0px;
            float: none;
            margin-right: 10px;
        }

        p.class1 {
            font-weight: none;

        }

        p.class2 {
            font-weight: bold;
        }

        .class3 {
            width: 700px; /* Set the desired width for the input field */
            font-size: 16px; /* Set the desired font size for the text inside the input field */
        }
    </style>
</head>

<body>

    {% include 'pages/navbar.html' %}

    <h1>Add a Resturant</h1>
    <form action="/add" method="POST">
        <div>
            <label for="name">Resturant Name:</label>
            <input type="text" id="name" name="restaurant_name" placeholder="Pizza place" required>
        </div>
        <br>
        <div>
            <label for="address_line1">Address Line 1:</label>
            <input type="text" id="address_line1" name="address_line1" placeholder="19 Barrett Hill Rd" required>
        </div>
        <br>
        <label for="borough">Choose a borough:</label> 
    <select name="borough" id="borough"> 
        <option value="manhattan">Manhattan</option> 
        <option value="brooklyn">Brooklyn</option> 
        <option value="queens">Queens</option> 
        <option value="bronx">Bronx</option>
        <option value="statenisland">Staten Island</option> 
    </select>
        <br>
        <br>
        <div>
            <label for="zip">ZIP Code:</label>
            <input type="text" id="zip" name="zip" placeholder="12533" required>
        </div>

        <br>
        <br>
        <div>
            <label for="description">Restaurant Description:</label>
            <input class="class3" type="text" id="description" name="description" placeholder="Wow this restaurant is so cool you should visit there ASAP" required>
        </div>
        <br>
        <label for="cost">Cost:</label>
        <select name="cost" id="cost"> 
            <option value="low">$</option> 
            <option value="medium">$$</option> 
            <option value="high">$$$</option>
        </select>
        <br>
        <br>
        <div>
            <label for="sunday_hours">Sunday Hours:</label>
            <input type="text" id="sunday_hours" name="sunday_hours" placeholder="9:00AM-5:00PM" required>
        </div>
        <br>
        <div>
            <label for="monday_hours">Monday Hours:</label>
            <input type="text" id="monday_hours" name="monday_hours" placeholder="9:00AM-5:00PM" required>
        </div>
        <br>
        <div>
            <label for="tuesday_hours">Tuesday Hours:</label>
            <input type="text" id="tuesday_hours" name="tuesday_hours" placeholder="9:00AM-5:00PM" required>
        </div>
        <br>
        <div>
            <label for="wednesday_hours">Wednesday Hours:</label>
            <input type="text" id="wednesday_hours" name="wednesday_hours" placeholder="9:00AM-5:00PM" required>
        </div>
        <br>
        <div>
            <label for="thursday_hours">Thursday Hours:</label>
            <input type="text" id="thursday_hours" name="thursday_hours" placeholder="9:00AM-5:00PM" required>
        </div>
        <br>
        <div>
            <label for="friday_hours">Friday Hours:</label>
            <input type="text" id="friday_hours" name="friday_hours" placeholder="9:00AM-5:00PM" required>
        </div>
        <br>
        <div>
            <label for="saturday_hours">Saturday Hours:</label>
            <input type="text" id="saturday_hours" name="saturday_hours" placeholder="9:00AM-5:00PM" required>
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
        <br>
            
        
    </form>

</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</html>