<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">   

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a Restaurant </title>
    <style>
        img {
            width: 100px;
            border-radius: 0px;
            float: none;
            margin-right: 10px;
        }

        p.class1 {
            font-weight: none;

        }

        p.class2 {
            font-weight: bold;
        }
    </style>
</head>

<body>
    {% include 'pages/navbar.html' %}

    <h1>Delete a Resturant</h1>
    <form action="/delete" method="POST">
        <div>
            <label for="restaurant ID">Restaurant ID:</label>
            <input name="restaurant_name">
        </div>
        <br>
        <div>
            <label for="adminid">Admin Code:</label>
            <input type="password" id="adminid" name="adminid" placeholder="7563062548" required>
        </div>
        <br>
        <div>
            <button type="submit">Delete Restaurant</button>
        </div>
        <br>
        <div>
            <input type="reset">
        </div>
    </form>
    <p class="class1">Only admins may delete resturants. To delete a resturant, please enter the restaurant name and Admin
        Code in the forms above.</p>
        
</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</html>