<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Restaurants </title>
    <style>
        img {
            width: 100px;
            border-radius: 0px;
            float: none;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    {% include 'pages/navbar.html' %}

    <h1>List of Restaurants</h1>

    <form method="GET">
        <label for="borough">Filter by Borough:</label>
        <select name="borough" id="borough">
            <option value="manhattan" {% if selected_borough == 'manhattan' %}selected{% endif %}>Manhattan</option>
            <option value="brooklyn" {% if selected_borough == 'brooklyn' %}selected{% endif %}>Brooklyn</option>
            <option value="queens" {% if selected_borough == 'queens' %}selected{% endif %}>Queens</option>
            <option value="bronx" {% if selected_borough == 'bronx' %}selected{% endif %}>Bronx</option>
            <option value="statenisland" {% if selected_borough == 'statenisland' %}selected{% endif %}>Staten Island</option>
            <option value="all" {% if selected_borough == 'all' %}selected{% endif %}>All</option>
        </select>
        <label for="cost">Filter by Cost:</label>
        <select name="cost" id="cost">
            <option value="all">All</option> 
            <option value="low">Low</option> 
            <option value="medium">Medium</option> 
            <option value="high">High</option> 
        </select>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    
    <ul>
        <p> Filtering by borough: {{selected_borough}} </p>
        <p> Filtering by cost: {{selected_cost}} </p>

        {% for restaurant in restaurants %}

         {% if (restaurant.borough == selected_borough or selected_borough == 'all') and (restaurant.cost == selected_cost or selected_cost == 'all') %}

                                
                <div class="card mb-3">
                    <div class="card-body">
                      <h4 class="card-title">{{ restaurant.restaurant_name }}</h4>
                      <h6 class="card-subtitle mb-2 text-muted"> {{ restaurant.address_line1 }}, {{ restaurant.borough }}, {{ restaurant.zip }}</h6>
                      <p class="card-text">{{ restaurant.description }}<br>
                        Cost: {{ restaurant.cost }}<br>
                        Hours:<ul>
                            <li>Sunday: {{ restaurant.sunday_hours }}</li>
                            <li>Monday: {{ restaurant.monday_hours }}</li>
                            <li>Tuesday: {{ restaurant.tuesday_hours }}</li>
                            <li>Wednesday: {{ restaurant.wednesday_hours }}</li>
                            <li>Thursday: {{ restaurant.thursday_hours }}</li>
                            <li>Friday: {{ restaurant.friday_hours }}</li>
                            <li>Saturday: {{ restaurant.saturday_hours }}</li>
                        </ul></p>
                      
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </ul>
</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</html>