<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">    
    <title>List of Restaurants</title>
</head>
<body>
    {% include 'pages/navbar.html' %}
      
    <h1>List of Restaurants</h1>


    <!-- <form method="GET" action="/search">
        <label for="search">Search by Restaurant Name:</label>
        <input type="text" name="search" id="search" placeholder="Enter restaurant name">
        <button type="submit">Search</button>
    </form> 

    <form method="GET">
        <label for="borough">Filter by Borough:</label>
        <select name="borough" id="borough">
            <option value="manhattan" {% if selected_borough == 'manhattan' %}selected{% endif %}>Manhattan</option>
            <option value="brooklyn" {% if selected_borough == 'brooklyn' %}selected{% endif %}>Brooklyn</option>
            <option value="queens" {% if selected_borough == 'queens' %}selected{% endif %}>Queens</option>
            <option value="bronx" {% if selected_borough == 'bronx' %}selected{% endif %}>Bronx</option>
            <option value="statenisland" {% if selected_borough == 'statenisland' %}selected{% endif %}>Staten Island</option>
            <option value="all" {% if selected_borough == 'all' %}selected{% endif %}>All</option>
        </select>
        <button type="submit">Filter</button>
    </form> -->

    <ul>
        {% for restaurant in restaurants %}
        <p> Filtering by {{selected_borough}} </p>
            {% if restaurant.borough == selected_borough or selected_borough == 'all' %}
                <li>
                    <strong>{{ restaurant.restaurant_name }}</strong><br>
                    Address: {{ restaurant.address_line1 }}, {{ restaurant.borough }}, {{ restaurant.zip }}<br>
                    Description: {{ restaurant.description }}<br>
                    Cost: {{ restaurant.cost }}<br>
                    Hours:
                    <ul>
                        <li>Sunday: {{ restaurant.sunday_hours }}</li>
                        <li>Monday: {{ restaurant.monday_hours }}</li>
                        <li>Tuesday: {{ restaurant.tuesday_hours }}</li>
                        <li>Wednesday: {{ restaurant.wednesday_hours }}</li>
                        <li>Thursday: {{ restaurant.thursday_hours }}</li>
                        <li>Friday: {{ restaurant.friday_hours }}</li>
                        <li>Saturday: {{ restaurant.saturday_hours }}</li>
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    
</html>
