<!-- navbar.html -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-expand-lg bg-primary px-3" data-bs-theme="dark">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="#">
                <img src="static/pizzalogo.png" alt="SliceNYC Logo" style="width: 20px;">    
                SliceNYC
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add"> Add a Restaurant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/edit"> Edit a Restaurant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/filter"> Filter Restaurants</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/search"> Search a Restaurant</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/delete"> Delete a Restaurant (ADMIN) </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
