<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

    <a href="/"> Home | </a>
    <a href="/add"> Add a Restaurant | </a>
    <a href="/edit"> Edit a Restaurant | </a>
    <a href="/filter"> Filter Restaurants |</a>   
    <a href="/search"> Search a Restaurant</a>
    <a href="/delete"> Delete a Restaurant (ADMIN) </a>

    <h1>Search for Restaurants</h1>

    <form method="GET" action="/search">
        <label for="search">Search by Restaurant Name:</label>
        <input type="text" name="search" id="search" placeholder="Enter restaurant name">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% if restaurants %}
        <h2>Results</h2>
            {% for restaurant in restaurants %}
                {% if restaurant.borough == selected_borough or selected_borough == 'all' %}
                    <li>
                        <strong>{{ restaurant.restaurant_name }}</strong><br>
                        Address: {{ restaurant.address_line1 }}, {{ restaurant.borough }}, {{ restaurant.zip_code }}<br>
                        Description: {{ restaurant.description }}<br>
                        Cost: {{ restaurant.cost }}<br>
                        Hours:
                        <ul>
                            <li>Sunday: {{ restaurant.sunday_hours }}</li>
                            <li>Monday: {{ restaurant.monday_hours }}</li>
                            <li>Tuesday: {{ restaurant.tuesday_hours }}</li>
                            <li>Wednesday: {{ restaurant.wednesday_hours }}</li>
                            <li>Thursday: {{ restaurant.thursday_hours }}</li>
                            <li>Friday: {{ restaurant.friday_hours }}</li>
                            <li>Saturday: {{ restaurant.saturday_hours }}</li>
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        {% elif selected_name != '' %}
            <h2> No Results Found</h2>
        {% endif %}
    </ul>
</body>
</html>